imageio==2.33.1
keras==3.0.4
matplotlib==3.8.2
numpy==1.26.4
opencv-python
pandas==2.2.0
patchify==0.2.3
Pillow==10.2.0
scikit_learn==1.4.0
scipy==1.12.0
scikit-image
tensorflow==2.15.0.post1
tqdm==4.66.1
